@value makerPurple,makerShadow,makerBlack,makerWhite,makerColorful,makerWheat from '../../common/colors.css';

.card{
  border: 1px solid rgb(211, 210, 210);
  display:flex;
  width: 28em;
  height: 16em;
  align-items: center;
  background-color: yellow;
  margin-bottom: 0.5em;
  border-radius: 0.6em;
  padding: 0.2em 0;
  box-shadow: 6px 6px 8px 0 makerShadow;
  max-width: 30rem;
  margin-bottom: 1em;
}

.card.dark{
  background-color: makerBlack;
  color:makerWhite;
}

.card.light{
  background-color: makerWhite;
  color:makerBlack;
}

.card.colorful{
  background: makerColorful;
}

.avatar{

  width: 11em;
  height: 11em;
  padding: 1em;
  margin:1em;
  border-radius: 50%;
}

.name 
.company 
.title 
.email 
.message{
  border: 1px solid red;
  margin: 0;
  margin-bottom: 0.5em;
}

.name{
  font-size: 1.2rem;
  font-weight: bold;
}

.company{
  font-size: 1rem;

  margin-bottom: 1em;
}

.company::after{
  content:'';
  display:block;
  width: 90%;
  height: 0.2em;
  background-color: makerPurple;
  transform: translateY(0.5em);
}

.info{
  width: 15em;
}

.info > p {
  margin-top: 0.2em;
  
}