@value mediaQuery from '../../common/size.css';
@value makerGrey, makerWhite, makerGreen from '../../common/colors.css';

.footer {
  width: 100%;
  height: 3em;
  background-color: makerWhite;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.right{
  font-size: 0.9em;
}

.title {
  font-weight: bold;
  color: makerGrey;
}


@media screen and (max-width: mediaQuery) {
  
  .right{
    font-size: 0.5em;
  }

}